<label onclick="changePage('recruitment_detail', args={type: selectedTab, id: '${id}'});" class="pe-3 w-100 recruitment-box">
    <div class="d-flex w-100">
        <img src="${icon}" class="icon m-3">
        <div class="flex-fill">
            <div class="mb-1 d-flex justify-content-between">
                <p class="mb-0 lead">${name}</p>
                <small class="text-muted pt-1">${created_at}</small>
            </div>
            <small class="mb-0 content3">${content}</small>
        </div>
    </div>
</label>