<div class="d-flex flex-column h-100">
    <div class="tab">
        <button id="friends-tab" class="px-3 tab-button selected-tab" onclick="select(0)">
            フレンド
        </button>
        <button id="friend-requests-tab" class="px-3 tab-button" onclick="select(1)">
            <p style="font-size: 80%; margin-top: 15px;">フレンド申請</p>
        </button>
    </div>
    <div id="friends" class="flex-fill">
        <div id="friends-friend" class="w-100 px-3">

        </div>
    </div>
    <div id="friend-requests" style="display: none" class="flex-fill">
        <div id="friend-requests-friend" class="w-100 px-3">

        </div>
    </div>
</div>